@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

</head>
<body>
    <div class="Lcontainer">
        <div class="container-login100">
            <div class="loginForm validate-form flex-sb flex-w">

                <h1>Log in</h1>
                <hr>

                <input type="email" placeholder="Enter Email" name="email" id="txtUsername" required>

                <input type="password" placeholder="Enter Password" name="psw" id="txtPassword" required>

                <button class="registerbtn" id="btnLogin">Login</button>

                <div>
                    <a href="/MyAccount/ForgotPassword">
                        Forgot Password?
                    </a>
                </div>
                <div>
                    <a href="/Home/Register">
                        Create account
                    </a>
                </div>
            </div>


        </div>
    </div>

    <div id="divError" class="alert alert-danger collapse">
        <a id="linkClose" class="close" href="#">&times;</a>
        <div id="divErrorText"></div>
    </div>

    <section class="span5">
        <h2>Log in using another service</h2>
        <div data-bind="visible: loadingExternalLogin">Loading...</div>
        <div data-bind="visible: !loadingExternalLogin()">
            <div class="message-info" data-bind="visible: !hasExternalLogin()">
                <p>
                    There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=252166">this article</a>
                    for details on setting up this ASP.NET application to support logging in via external services.
                </p>
            </div>
            <form data-bind="visible: hasExternalLogin">
                <fieldset class="form-horizontal">
                    <legend>Use another service to log in.</legend>
                    <p data-bind="foreach: externalLoginProviders">
                        <button type="submit" class="btn" data-bind="text: name, attr: { title: 'Log in using your ' + name() + ' account' }, click: login"></button>
                    </p>
                </fieldset>
            </form>
        </div>
    </section>



    <script type="text/javascript">
        $(document).ready(function () {
            $('#linkClose').click(function () {
                $('#divError').hide('fade');
            });
            $('#btnLogin').click(function () {
                $.ajax({
                    url: '/login',
                    method: 'POST',
                    contentType: 'application/json',
                    data: {
                        username: $('#txtUsername').val(),
                        password: $('#txtPassword').val(),
                        grant_type: 'password'
                    },
                    success: function (response) {
                        sessionStorage.setItem('accessToken', response.access_token);
                        window.location.href = "Index";
                    },
                    error: function (jqXHR) {
                        if (jqXHR.status === 400) {
                            $('#divErrorText').text(jqXHR.responseJSON.error_description);
                            $('#divError').show('fade');
                        } else {
                            $('#divErrorText').text("An error occurred");
                            $('#divError').show('fade');
                        }

                    }
                });
            });
        });
    </script>
</body>

<style>
    body {
        margin: 0;
        padding:0;
    }
    /*login form*/
    .Lcontainer {
        align-content: center;
    }

    .loginForm {
        width: 50%;
        text-align: center;
    }

    .container-login100 {
        width: 100%;
        min-height: 70vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    #txtUsername, #txtPassword {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }

    .registerbtn {
        background-color: #5283FF;
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

    input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }

    .registerbtn:hover {
        opacity: 1;
    }
</style>