<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ec2-107-23-1-26.compute-1.amazonaws.com/Deploy</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>http://ec2-107-23-1-26.compute-1.amazonaws.com</MSDeployServiceURL>
    <DeployIisAppPath>Deploy</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ajmal</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=awsrds.cjk2suhdohmy.us-east-1.rds.amazonaws.com,1433;Initial Catalog=Users_Talents;User ID=admin;Password=ajmalmohd" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CSC_CA2.Models.ApplicationDbContext, CSC_CA2" MigrationConfiguration="CSC_CA2.Migrations.Configuration, CSC_CA2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=awsrds.cjk2suhdohmy.us-east-1.rds.amazonaws.com,1433;Initial Catalog=Users_Talents;User ID=admin;Password=ajmalmohd</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>